:root {
    --grey: #C0C0C0;
    --violet: #8A2BE2;
    --black: #102B3E;
}


* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.top__of_topblc {
    width: 120px;
    height: 50px;
    background-color: var(--violet);
    border-radius: 10px;
    margin: 10px 10px auto;
    justify-content: center;
    position: absolute;
    top: 0px;
    left: 0px;
}

.inner__topp {
    width: 100%;
    height: 200px;
    justify-content: center;
    display: flex;
    background: var(--black);
    text-align: center;
    /*color: aliceblue;*/
    margin-top: 50px;
}

.sub {
    width: 100%;
    height: 100%;
    background-color: var(--grey);;
}

.big__block {
    width: 50%;
    height: 600px;
    display: flex;
    margin-left: auto;
    margin-right: auto
}

.block__first {
    width: 500px;
    height: 200px;
    margin: 20px auto;
    flex-wrap: wrap;

}

.block__first_blc {
    width: 250px;
    height: 100px;
    margin: 25px;
    background-color: var(--violet);
    border-radius: 10px;
    /*display: flex;*/
}

.block__second {
    width: 170px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px auto;
}

.block__second_blc {
    width: 75px;
    height: 75px;
    background-color: var(--violet);
    margin: 10px;
    border-radius: 10px;

}

.big__block2 {
    width: 50%;
    height: 600px;
    margin: 250px 280px auto;
    margin-left: auto;
    margin-right: auto
}

.square__first_line {
    display: flex;
}

.square__second_line {
    display: flex;
}

.h50 {
    height: 50px;
}

.h100 {
    height: 100px;
}

.h170 {
    height: 170px;
}

.w50 {
    width: 50px;
}

.w100 {
    width: 100px;
}

.w120 {
    width: 120px;
}

.w270 {
    width: 270px;
}


.bkg_b {
    background: var(--violet);
}

.bkg_bl {
    background: var(--black);
}

.marg20 {
    margin: 20px;
}

.marg5 {
    margin: 5px;
}

.marg10 {
    margin: 10px;
}

.marg2 {
    margin: 2px;
}

.radiusbor {
    border-radius: 10px;
}

.inner__footer {
    position: absolute;
    bottom: inherit;
    width: 100%;
    height: 150px;
    background: var(--black);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.inner__footer_blocks {
    display: flex;
    margin-top: 40px;
    position: absolute;
    left: 60px;

}

.square__first {
    width: 500px;
    height: 200px;
    background-color: var(--violet);
    margin: 5px;
}

.square__second {
    width: 200px;
    height: 200px;
    background-color: var(--black);
    margin: 5px;
}

.three__circle {
    display: flex;
    margin: 20px;
    justify-content: center;


}

.three__circle_form {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: var(--violet);
    margin: 20px 60px auto;
}

.inner__footer_blck {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--violet);
    margin: 5px;
}